*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(3, 133, 133);
    margin: 20px;

}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 5px;
    margin: 10px 0;
}
.home-text{
    font-size: 25px;
}
a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    margin: 5px 0;
    color: black;
    border-radius: 5px;
    /* background-color: cornflowerblue; */
}
a:hover{
    background-color:rgb(1, 99, 78);
    color: white;
}
h1{
    margin: 10px;
    padding: 20px;
}
.color-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: auto;
}
.grey{
    background-color: grey;
    height: 100px;
    width: 100px;
    border: solid;
    margin: 5px;
}
.white{
    background-color: white;
    height: 100px;
    width: 100px;
    border: solid;
    margin: 5px;
}
.blue{
    background-color: blue;
    height: 100px;
    width: 100px;
    border: solid;
    margin: 5px;
}
.yellow{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border: solid;
    margin: 5px;
}
.default{
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    align-items:center;
}
.default p{
    padding: 10px;
    border-radius: 7px;
    background-color: black;
    color: rgb(3, 133, 133);
    font-size:larger;
    font-weight: bolder;
    cursor:default;
}
/* .default p:hover{
    background-color: black;
} */
.default{
    display:none;
}