*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(3, 133, 133);
    margin: 20px;

}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: solid;
    border-radius: 5px;
    margin: 10px 0;
}
a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    margin: 5px 0;
    color: black;
    border-radius: 5px;
    /* background-color: cornflowerblue; */
}
a:hover{
    background-color:rgb(1, 99, 78);
    color: white;
}
h1{
    margin: 10px;
    padding: 20px;
}
.color-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: auto;
}
.grey{
    background-color: grey;
    height: 100px;
    width: 100px;
    border: solid;
    margin: 5px;
}
.white{
    background-color: white;
    height: 100px;
    width: 100px;
    border: solid;
    margin: 5px;
}
.blue{
    background-color: blue;
    height: 100px;
    width: 100px;
    border: solid;
    margin: 5px;
}
.yellow{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border: solid;
    margin: 5px;
}