*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(3, 133, 133);
    margin: 20px;

}
.home{
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid;
    border-radius: 5px;
    margin: 10px 0;
}
.home-text{
    font-size:25px ;
}
a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    margin: 5px 0;
    color: black;
    border-radius: 5px;
    /* background-color: cornflowerblue; */
}
a:hover{
    background-color:rgb(1, 99, 78);
    color: white;
}
.container{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#form{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: ;
}
p{
    text-align: center;
    margin: 5px;
    font-size: 18px;
    color: white;
}
h2{
    margin: 10px;
}
input{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 22px;
    /* width: 100px; */
}
button{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:cornflowerblue;
}
button:active{
    background-color: blue;
}
#newgame{
    display: none;
    background-color:green;
    
}
h5{
    margin: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}
#validation-message{
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}